In [ ]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading the data from the following link,
## https://data.wa.gov/api/views/f6w7-q2d2/rows.csv?accessType=DOWNLOAD

In [ ]:
url = 'https://data.wa.gov/api/views/f6w7-q2d2/rows.csv?accessType=DOWNLOAD'
df = pd.read_csv(url)
df.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJXCAE26J,Yakima,Yakima,WA,98908.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,14.0,141151601,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10
1,JHMZC5F37M,Kitsap,Poulsbo,WA,98370.0,2021,HONDA,CLARITY,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,47,0,23.0,171566447,POINT (-122.64681 47.73689),PUGET SOUND ENERGY INC,5.303509e+10
2,5YJ3E1EB0K,King,Seattle,WA,98199.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,0,36.0,9426525,POINT (-122.40092 47.65908),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,1N4AZ0CP5D,King,Seattle,WA,98119.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,36.0,211807760,POINT (-122.3684 47.64586),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
4,5YJSA1E21H,Thurston,Lacey,WA,98516.0,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,22.0,185810306,POINT (-122.75379 47.06316),PUGET SOUND ENERGY INC,5.306701e+10

# Get all the cars and their types that do not qualify for clean alternative fuel vehicle

In [ ]:
non_clean_fuel_cars = df[df['Clean Alternative Fuel Vehicle (CAFV) Eligibility'] == 'Not eligible due to low battery range']
non_clean_fuel_cars_info = non_clean_fuel_cars[['Make', 'Model']]
print("Cars and their types that do not qualify for clean alternative fuel vehicle:")
print(non_clean_fuel_cars_info)

Cars and their types that do not qualify for clean alternative fuel vehicle:
          Make        Model
6         FORD       FUSION
7         AUDI         Q5 E
8         FORD        C-MAX
14        FORD        C-MAX
15         KIA         NIRO
...        ...          ...
130377     BMW         530E
130385    AUDI           A3
130390    JEEP     WRANGLER
130407  TOYOTA  PRIUS PRIME
130437     BMW         530E

[16446 rows x 2 columns]

# Get all TESLA cars with the model year, and model type made in Bothell City.

In [ ]:
tesla_made_in_bothell = df[(df.Make == 'TESLA') & (df.City == 'BOTHELL')]
print("Tesla cars made in Bothell city:")
tesla_made_in_bothell[['Make','Model','City','Model Year']]

Tesla cars made in Bothell city:

Empty DataFrame
Columns: [Make, Model, City, Model Year]
Index: []

# Get all the cars that have an electric range of more than 100, and were made after 2015

In [ ]:
made_after_2015 = df[(df['Model Year']>2015) & (df['Electric Range']>100)]
print("Cars that have an electric range of more than 100, and were made after 2015")
made_after_2015[['Make','Electric Range','Model Year']]

Cars that have an electric range of more than 100, and were made after 2015

          Make  Electric Range  Model Year
0        TESLA             238        2018
2        TESLA             220        2019
4        TESLA             210        2017
12       TESLA             308        2020
13       TESLA             322        2020
...        ...             ...         ...
130417   TESLA             291        2020
130428  NISSAN             151        2018
130432   TESLA             291        2020
130436   TESLA             215        2018
130441   TESLA             293        2020

[34066 rows x 3 columns]

# Draw plots to show the distribution between city and electric vehicle type